@{
    ViewBag.Title = "Acerca de MPC";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Es un sistema para administraci&oacute;n de colegios y escuelas, capaz de llevar constancia de los registros de estudiantes, tutores, maestros
    y cuentas administrativas.</p>
