@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MPC Administrator</h1>
    <p class="lead">MPC Administrator, sistema de administracion de escuelas.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Saber m&aacute;s &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Informaci&oacute;n importante</h2>
        <p>
            Este sistema de gesti&oacute;n de colegios debe ser utilizado solamente por personal autorizado y entrenado.
        </p>
        <p><a class="btn btn-default" asp-controller="Home" asp-action="About">Saber m&aacute;s &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>